@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 1.4rem;
  margin: 1rem 0rem;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

p {
  padding: 0rem 1.4rem;
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  margin-bottom: 1.5rem;
}
@import "./qr";
